.experience__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.experience__container img{
    width: 400px;
}

.experience__content {
    display: flex;
    flex-wrap: wrap;

}

.experience__myschool {
    width: 350px;
    aspect-ratio: 4/1;
    padding: 20px;
    margin: 10px;
    background: linear-gradient(var(--color-primary-veriant), transparent);
    border-radius: 20px;
    box-shadow: rgba(246, 255, 0, 0.35) 0px 5px 5px;
}
.experience__myschool h5{
    color: var(--color-bg);
}